@import "tailwindcss";

@layer components {
    .container {
        @apply mx-auto;
    }
    .primary-button {
        @apply bg-[#FF900E] text-white py-3 px-5 md:py-4 md:px-6 text-lg rounded-md font-semibold;
    }
}

@layer utilities {
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
