@import "tailwindcss";

@layer components {
    .container {
        @apply mx-auto;
    }
}

@layer utilities {
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
